# Scaling - Normalization - PCA

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('pima-indians-diabetes.csv')

In [8]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
from sklearn.preprocessing import normalize, scale

In [16]:
x = df.drop('Outcome', axis=1)

In [17]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [18]:
scaled_x = scale(x)

In [19]:
pd.DataFrame(scaled_x).head()

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496

In [20]:
normalized_x = normalize(x)

In [21]:
pd.DataFrame(normalized_x).head()

,0,1,2,3,4,5,6,7
0,0.033552,0.827625,0.402628,0.195722,0.000000,0.187893,0.003506,0.279603
1,0.008424,0.716040,0.555984,0.244296,0.000000,0.224079,0.002957,0.261144
2,0.040398,0.924097,0.323181,0.000000,0.000000,0.117658,0.003393,0.161591
3,0.006612,0.588467,0.436392,0.152076,0.621527,0.185797,0.001104,0.138852
4,0.000000,0.596386,0.174127,0.152361,0.731335,0.187622,0.009960,0.143655

## PCA - Principal Component Analysis

In [22]:
from sklearn.decomposition import PCA

In [31]:
pca = PCA(3)

In [32]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [33]:
data2 = pca.fit_transform(x)

In [34]:
pd.DataFrame(data2, columns=['PCA1', 'PCA2','PCA3']).head()

        PCA1       PCA2       PCA3
0 -75.714655 -35.950783  -7.260789
1 -82.358268  28.908213  -5.496671
2 -74.630643 -67.906496  19.461808
3  11.077423  34.898486  -0.053018
4  89.743788  -2.746937  25.212859

In [35]:
pca.explained_variance_ratio_

array([0.88854663, 0.06159078, 0.02579012])

In [36]:
sum(pca.explained_variance_ratio_)

0.9759275372391619